html {
    font-family: $font-default;
    font-size: 20px;
}
.title,
.subtitle {
    text-align: center;
    text-transform: uppercase;
}
.title {
    font-family: 'Open Sans-semibold';
    font-size: 1.5rem;
    margin-bottom: 16px;
    letter-spacing: 5px;
    line-height: 36px;
}
.subtitle {
    font-size: .9rem;
    margin-bottom: 30px;
    letter-spacing: 3px;
    line-height: 30px;
}
.text {
    font-size: .7rem;
    line-height: 25px;
}