// Default Fonts
$font-default: 'Open Sans-light';
$font-color: #333;

// Color Themes
$blue-royal: #2e9dff;
$blue-light: #69b9ff;
$white: #fff;
$black: #000;

// Functional Colors
$menu-btn: #6A85AF;
$link-active: #0082f3;
$services-bg: #192024;
$footer-bg: #edeff2;